<!doctype html>

  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    
    <div id="overlay" class="overlay"></div>

    <div data-hook>
      <main id="content" data-hook>
        We are building the checkout counter right now!
        <br>
        To pre-order and get the first products off the line, send us an <a href="mailto:sales@lemontreesc.com">email</a><br>
        
      </main>

    </div>

    <%= render 'spree/shared/copyright' %>
    <%= render 'spree/shared/translations' %>
  </body>
</html>
