<% @body_id = 'home' %>

<%= render 'cookies_eu/consent_banner' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/lem_tree_surf.jpg') %>"
    data-srcset="<%= image_source_set('homepage/lem_tree_surf') %>"
    alt="<%= Spree.t('homepage.shop_now')%>" />

  <div class="hero-content">
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div>
      <%= link_to Spree.t('homepage.shop_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>


   